* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Segoe UI Web (West European)";
  src: url(https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-light.woff2) format("woff2"), url(https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-light.woff) format("woff");
  font-weight: 100;
  font-style: normal
}

@font-face {
  font-family: "Segoe UI Web (West European)";
  src: url(https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semilight.woff2) format("woff2"), url(https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semilight.woff) format("woff");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: "Segoe UI Web (West European)";
  src: url(https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-regular.woff2) format("woff2"), url(https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-regular.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "Segoe UI Web (West European)";
  src: url(https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semibold.woff2) format("woff2"), url(https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semibold.woff) format("woff");
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: "Segoe UI Web (West European)";
  src: url(https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-bold.woff2) format("woff2"), url(https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-bold.woff) format("woff");
  font-weight: 700;
  font-style: normal
}

html {
  font-family: "Segoe UI Web (West European)", Segoe UI, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 1.5;
  background: #eaeaea;
}

body {
  margin: 0;
}

button, input, select, textarea {
  font: inherit;
  border-radius: 0; /* iOS */
  margin: 0; /* iOS */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0;
}

p, ul, ol, dl {
  margin: 0;
  padding: 0;
}

template {
  display: none;
}

::-moz-focus-inner {
  border: 0;
}

select {
  background: rgba(0, 0, 0, 0.04);
  border: 0;
  border-bottom: 2px solid currentColor;
  color: inherit;
  cursor: pointer;
  padding: 0;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.flex-spacer {
  flex-grow: 1;
}

.btn {
  border: 0;
  font-weight: 600;

  cursor: pointer;

  min-width: 80px;
  padding: 0 16px;

  height: 32px;
  line-height: 21px;

  background: #f4f4f4;
  color: #333333;
}

.btn:hover {
  background: rgba(0, 0, 0, 0.04);
  color: #212121;
}

.btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.btn-blue {
  background: #0078d4; /* themePrimary */
  color: white;
}

.btn-blue:hover {
  background: #106ebe;
  color: white;
}

.btn-teal {
  background: #008272; /* teal */
  color: white;
}

.btn-teal:hover {
  background: #004b50; /* tealDark */
  color: white;
}

.btn-red {
  background: #e81123; /* red */
  color: white;
}

.btn-red:hover {
  background: #a80000; /* redDark */
  color: white;
}

.ipt-text {
  background: rgba(255, 255, 255, 0.67);
  border: 1px solid #d0d0d0; /* neutralQuaternary */
  box-shadow: 0 0 0.375rem #d0d0d0; /* neutralQuaternary */
  padding: 0.25rem;
}

.autocomplete-control {

}

#autocomplete-backdrop {
  z-index: 99;
  background: rgba(230, 230, 230, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;

  display: none;
}

#autocomplete-backdrop.autocomplete-open {
  display: flex;
}

#autocomplete {
  height: 100%;
  width: 100%;
  margin: auto;

  max-height: 32rem;
  max-width: 27.5rem;
  background: rgba(192, 192, 192, 0.66);
}

#autocomplete-head {
  display: flex;
  align-items: stretch;

  height: 3.5rem;
  line-height: 3.5rem;
}

#autocomplete-head > * {
  padding: 0 1rem;
}

#autocomplete-search {
  flex-grow: 1;
  border: 0;

  background: #333;
  color: #eaeaea;
  font-size: 1.25rem;
}

#autocomplete-done {
  background: #a6a6a6;
  color: #333;
  border: 0;
  cursor: pointer;
}

#autocomplete-list {
  overflow: auto;

  height: calc(100% - 3.5rem);
}

#autocomplete-list::before {
  color: #666;
  text-align: center;
  display: block;
  padding: 1rem;
}

#autocomplete-list:empty::before {
  content: "Nothing to see here...";
}

.autocomplete-loading #autocomplete-list::before {
  content: "Loading...";
}

.autocomplete-entry, .autocomplete-entry * {
  cursor: pointer;
}

.autocomplete-entry {
  display: block;
  font-size: 1.25rem;
  color: #666;
  padding: 1rem;
}

.autocomplete-entry-ticked {
  color: #008272;
}

.autocomplete-entry:hover {
  background: rgba(255, 255, 255, 0.25);
}

.autocomplete-entry > label {
  display: flex;
  align-items: center;
}

.autocomplete-entry-tick {
  border: 0.25rem solid currentColor;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  line-height: 2.5rem;
  margin-right: 1rem;
  text-align: center;
}

.autocomplete-entry-tick::before {
  font-family: 'FabricMDL2Icons';
  content: "\E73E";
  display: block;
}

#header {
  background: #333; /* neutralPrimary */

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 4rem;

  /* For very small screens where initial animations would overflow */
  width: 100%;
  overflow: hidden;

  position: relative; /* For .header-brands-init */
}

#header-logo {
  flex: 0 0 auto;

  display: flex;
  flex-wrap: wrap;

  height: 2rem;
  width: 2rem;
  margin: 0 1rem;

  outline: 0;
}

#header-logo > span {
  flex: 0 0 auto;
  width: 0.9rem;
  height: 0.9rem;
  margin: 0.05rem;
}

#header-text {
  color: #eaeaea; /* neutralLight */
  font-weight: lighter;
  font-size: 1.75rem;
  margin: 0;
}

#header-text > span {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  white-space: nowrap;
}

#header-brands {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 0.5rem;
}

@media (max-width: 600px) {
  #header-brands:not(.header-brands-init) {
    display: none;
  }
}

.header-brands-init {
  position: absolute;
  left: 0;
  top: 0; /* Needed for IE 11 */
  bottom: 0; /* Needed for IE 11 */
  pointer-events: none; /* Prevent accidentally clicking while animating */
}

#header-brands > li {
  display: block;
  /* Use fixed width for easier animating */
  width: 40px;
  text-align: center;
  color: #dadada; /* neutralQuaternaryAlt */
  font-size: 1.75rem;
}

#header-brands a {
  text-decoration: none;
  color: inherit;
  outline: 0;
}

#header-brands .ms-Icon--AzureLogo:hover {
  color: #006dbf;
}

#header-brands .ms-Icon--BingLogo:hover {
  color: #f7b400;
}

#header-brands .ms-Icon--MSNLogo:hover {
  color: #808080;
}

#header-brands .ms-Icon--OfficeLogo:hover {
  color: #e53700;
}

#header-brands .ms-Icon--OneDrive:hover {
  color: #0948ac;
}

#header-brands .ms-Icon--SkypeLogo:hover {
  color: #00aae9;
}

#header-brands .ms-Icon--StoreLogo16:hover {
  color: white;
}

#header-brands .ms-Icon--WindowsLogo:hover {
  color: #00a8e8;
}

#content {
  /* Don't use flex due to IE 11 bugs */
  display: table;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

  position: relative; /* For absolute pane on small screens */
}

#content > * {
  display: table-cell;
  vertical-align: top;
  /* Both should have padding on small screens */
  padding: 0 1rem;
}

#pane {
  width: 30rem;
}

#pane-toggle-button {
  display: none;
}

@media (max-width: 1000px) {
  #content, #content > * {
    display: block;
  }

  #pane-toggle-button {
    display: block;
  }

  #pane {
    position: fixed;
    display: block;

    background: rgba(240, 240, 240, 0.95);
    transition: 0.3s;

    top: 100%;
    bottom: 0;
    overflow-y: auto;
    width: 100%;
  }

  #pane.pane-open {
    top: 55%;
    box-shadow: 0 0 1rem #a6a6a6;
  }
}

.section-heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.25rem 0;
}

.section-heading {
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

.section-heading-container > :last-child:not(.section-heading) {
  margin-left: 1rem;
}

h1.section-heading {
  font-size: 1.25rem;
  color: #666; /* neutralSecondary */
}

h2.section-heading {
  font-size: 1rem;
  color: #a6a6a6; /* neutralTertiary */
}

#jobs-heading > span:first-child {
  padding-right: 0.5rem;
}

.job {
  background: #f8f8f8; /* neutralLighterAlt */

  margin: 1rem 0;

  display: flex;
  width: 100%;
}

.job-left, .job-right {
  padding: 0 1rem;
}

.job-left {
  /* Some jobs are very small */
  flex-grow: 1;
}

.job-right {
  text-align: right;
  width: 25%;
  flex: 0 0 auto;
  padding-top: 1.5rem;
}

@media (max-width: 575px) {
  .job {
    flex-direction: column-reverse;
  }

  .job-right {
    padding-top: 1rem;
    width: 100%;
    text-align: left;
  }
}

.job-head {
  margin: 1rem 0;
}

.job-head > * {
  margin: 0.25rem 0;
}

.job-title {
  color: #008272; /* teal */
  font-size: 1.75rem;
  font-weight: lighter;
}

.job-location {
  color: #ea4300; /* orangeLight */
  font-size: 1rem;
  font-weight: normal;
}

.job-title-link {
  color: inherit;
  text-decoration: none;
}

.job-title-link:hover {
  text-decoration: underline;
}

.job-description {
  margin: 1rem 0;
}

.job-description:not(:empty)::after {
  content: "\2026";
}

.job-date {
  color: #666; /* neutralSecondary */
}

.search-category {
  margin-bottom: 3rem;
}

.search-category-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-category-head > h3 {
  font-weight: bold;
  font-size: inherit;
  margin: 0;
}

.search-category-button, .search-term-button {
  background: transparent;
  border: 0;
  color: #008272; /* teal */

  padding: 0 0.5rem;
  cursor: pointer;
}

.search-terms:empty::before {
  content: "Hit the add button to add a search term";
  color: #666; /* neutralSecondary */
}

.search-term {
  display: flex;
  align-items: center;

  margin: 0.75rem 0;
}

.search-term-mode, .search-term-words {
  padding: 0.25rem;
}

.search-term-mode {
  color: #008272; /* teal */
  margin-right: 0.5rem;
}

.search-term-words {
  flex-grow: 1;
}

#share > * {
  margin: 0.5rem 0;
}

#share-message {
  color: #666; /* neutralSecondary */;
}

#share-URL {
  background: transparent;
  padding: 0.75rem 0;
  border: 0;
  color: #008272;
  font-size: 1.125rem;
  display: block;
  width: 100%;
}

#share-options {
  display: flex;
  justify-content: space-between;
}

#share-options > li {
  display: block;
}

#share-options > li > * {
  display: block;

  background: transparent;
  border: 0;
  padding: 0;
  text-decoration: none;

  border-bottom: 2px solid currentColor;
  color: #ea4300;
  cursor: pointer;
}
