.article {
  border: 1px solid #a2a9b1;
  display: flex;
  margin-bottom: 1rem;
  padding: 1rem;
}

@media (max-width: 768px) {
  .article {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .image {
    margin-bottom: 1rem;
  }
}

@media (min-width: 769px) {
  .image {
    margin-right: 1rem;
  }
}

.image {
  background: #f8f9fa;
  border: 1px solid #c8ccd1;
  padding: 1rem;
  width: 10rem;
}

.title {
  font-size: 1.25rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}
