.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.Form {
  padding: 1rem;
}

.Results {
  border-top: 1px solid #e0e0e0;
  background: #f2f2f2;
}

.Result {
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 0.25rem;
  margin: 2.5rem;
  padding: 1rem;
}

.ResultTitle {
  margin-bottom: 0.5rem;
}

.ResultTitle a {
  color: #185abc;
  text-decoration: none;
}

.ResultTitle a:hover {
  text-decoration: underline;
}

.ResultSubtitle {
  border-bottom: 1px solid #dfe1e5;
  color: #424242;
  font-size: 0.875rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ResultSubtitle p {
  margin: 0;
}

.ResultDescription {
  color: #2e3134;
  margin-bottom: 1rem;
  white-space: pre-wrap;
}

.ResultButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ResultButtonContainer button {
  background: transparent;
  border: 0;
  cursor: pointer;
  font: inherit;
  padding: 0;
  color: #5f6368;
}
