.header {
  align-items: center;
  background-color: #eaecf0;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.queryInput {
  background: white;
  border-radius: 2px;
  border: 1px solid white;
  padding: 0.5rem;
  width: 20rem;
}

.main {
  padding: 1rem;
}

.status {
  margin-bottom: 1rem;
}

.basicArticlesList {
  display: flex;
  flex-wrap: wrap;
}
