* {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0;
}

p, ul, ol, dl {
  margin: 0;
  padding: 0;
}

select {
  background: rgba(0, 0, 0, 0.04);
  border: 0;
  border-bottom: 2px solid currentColor;
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.toggle {
  display: flex;
  align-items: center;

  border: 1px solid rgb(102, 102, 102);
  border-radius: 20px;

  cursor: pointer;

  height: 20px;
  width: 44px;
  padding: 0 4px;
}

.toggle.checked {
  background: #008272;
  border-color: transparent;
  justify-content: flex-end;
}

.toggle::after {
  content: "";
  display: block;

  background-color: #212121;
  border-radius: 10px;

  height: 10px;
  width: 10px;

  transition: all 0.1s ease;
}

.toggle.checked::after {
  background: white;
}

.btn {
  border: 0;
  font-weight: 600;

  cursor: pointer;

  min-width: 80px;
  padding: 0 16px;

  height: 32px;

  background: #f4f4f4;
  color: #333333;
}

.btn:hover, .btn:focus {
  background: #eaeaea;
  color: #212121;
}

.btn-blue {
  background: #0078d4; /* themePrimary */
  color: white;
}

.btn-blue:hover, .btn-blue:focus {
  background: #106ebe;
  color: white;
}

.btn-teal {
  background: #008272; /* teal */
  color: white;
}

.btn-teal:hover, .btn-teal:focus {
  background: #004b50; /* tealDark */
  color: white;
}

.btn-red {
  background: #e81123; /* red */
  color: white;
}

.btn-red:hover, .btn-red:focus {
  background: #a80000; /* redDark */
  color: white;
}

.msg {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-left: 2px solid currentColor;
}

.msg-info {
  color: #0078d4; /* themePrimary */
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header-text-container {
  display: flex;
  align-items: center;
  margin: 1rem;
}

#header-text-logo {
  display: block;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
  background: url(/static/microsoft-icon.png) no-repeat center / contain;
}

#header-text {
  font-weight: lighter;
  font-size: 1.75rem;
  margin: 0;
}

#header-logos {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 0.5rem;
}

#header-logos > li {
  display: block;
}

#header-logos .ms-Icon {
  display: block;
  margin: 0 0.5rem;

  color: #dadada; /* neutralQuaternaryAlt */
  font-size: 1.75rem;
}

#content {
  display: flex;
}

#content > * {
  padding-left: 1rem;
}

#content > :last-child {
  padding-right: 1rem;
}

#jobs {
  flex-grow: 1;
}

#pane {
  flex: 0 0 auto;
  width: 30rem;
}

.section-heading {
  font-weight: bold;
  letter-spacing: 1px;
  margin: 1.25rem 0;
  text-transform: uppercase;
}

.section-heading > em {
  font-style: normal;
  border-bottom: 2px solid currentColor;
}

h1.section-heading {
  font-size: 1.25rem;
  color: #333; /* neutralPrimary */
}

h2.section-heading {
  font-size: 1rem;
  color: #666; /* neutralSecondary */
}

.job {
  margin: 1rem 0;

  display: table;
  border-collapse: collapse;
  table-layout: fixed;
}

.job-left, .job-right {
  display: table-cell;
  padding: 0 1rem;
}

.job-right {
  text-align: right;
  width: 25%;
}

.job-head {
  margin: 1rem 0;
}

.job-head > * {
  margin: 0.25rem 0;
}

.job-title {
  color: #008272; /* teal */
  font-size: 1.75rem;
  font-weight: lighter;
}

.job-location {
  color: #ea4300; /* orangeLight */
  font-size: 1rem;
  font-weight: normal;
}

.job-title-link {
  color: inherit;
  text-decoration: none;
}

.job-title-link:hover,
.job-title-link:focus {
  text-decoration: underline;
}

.job-description {
  margin: 1rem 0;
}

.job-date {
  color: #666; /* neutralSecondary */
}

.search-term {
  display: block;

  margin: 1.75rem 0;

  transform: none;
  opacity: 1;
  transition: 0.4s;
}

.search-term:not(:last-child)::after {
  content: "";
  display: block;
  width: 80%;
  margin: 1.75rem auto; /* Match .search-term */
  border-bottom: 1px solid white;
}

.search-term-dragging {
  transform: scale(0.92);
  opacity: 0.5;
}

.search-term-head {
  display: flex;
  align-items: baseline;
}

.search-term-drag {
  font-size: 1rem;
  line-height: 1.25rem;
  height: 1.25rem;
  width: 1.25rem;
  text-align: center;
  margin-right: 0.5rem;
  cursor: ns-resize;
}

.search-term-head > h3 {
  color: black;
  font-weight: bold;
  font-size: inherit;
  margin: 0;
}

.search-term-head-spacer {
  flex-grow: 1;
}

.search-term-body {
  display: flex;
  align-items: baseline;

  margin: 1rem 0.25rem;
}

.search-term-body > * {
  padding: 0.25rem;
}

.search-term-mode {
  flex: 0 0 auto;
  margin-right: 0.5rem;
}

.search-term-words {
  background: rgba(255, 255, 255, 0.67);
  border: 2px solid #d0d0d0; /* neutralQuaternary */

  flex-grow: 1;
}

#filter-buttons {
  margin: 2rem 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
