html {
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body {
  margin: 0;
}

a {
  color: #0645ad;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button, img, input, label, select, textarea {
  background: transparent;
  border-radius: 0;
  border: 0;
  display: block;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Linux Libertine", "Georgia", "Times", serif;
}

figure, h1, h2, h3, h4, h5, h6, dl, dd, li, ol, p, ul {
  display: block;
  margin: 0;
  padding: 0;
}
